apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  annotations:
    volume.podman.io/driver: local
  name: caddy_data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Pod
metadata:
  labels:
    app: caddy
  name: caddy
spec:
  containers:
  - image: docker.io/library/caddy:latest
    name: caddy
    ports:
    - containerPort: 80
      hostPort: 80
    - containerPort: 443
      hostPort: 443
    volumeMounts:
    - mountPath: /usr/share/caddy
      name: etc-wireguard-peer1-host-0
      readOnly: true
    - mountPath: /etc/caddy/Caddyfile
      name: root-Caddyfile-host-1
      readOnly: true
    - mountPath: /data
      name: caddy_data-pvc
  volumes:
  - hostPath:
      path: /etc/wireguard/peer1
      type: Directory
    name: etc-wireguard-peer1-host-0
  - hostPath:
      path: /root/Caddyfile
      type: File
    name: root-Caddyfile-host-1
  - name: caddy_data-pvc
    persistentVolumeClaim:
      claimName: caddy_data
