apiVersion: v1
kind: Pod
metadata:
  labels:
    app: wireguard
  name: wireguard
spec:
  sysctls:
    securityContext:
      sysctls:
      - name: net.ipv4.ip_forward
        value: "1"
  containers:
  - image: docker.io/linuxserver/wireguard:latest
    name: wireguard
    ports:
    - containerPort: 51820
      hostPort: 51820
      protocol: UDP
    env:
    - name: PUID
      value: "1000"
    - name: PGID
      value: "1000"
    - name: TZ
      value: "America/Los_Angeles"
    - name: SERVERURL
      value: "${fqdn}"
    - name: SERVERPORT
      value: "51820"
    - name: PEERS
      value: "1"
    - name: PEERDNS
      value: "auto"
    - name: INTERNAL_SUBNET
      value: "${wg_subnet_cidr}"
    - name: ALLOWEDIPS
      value: "0.0.0.0/0, ::/0"
    - name: LOG_CONFS
      value: "true"
    securityContext:
      capabilities:
        add:
        - CAP_NET_ADMIN
        - CAP_NET_RAW
        drop:
        - CAP_MKNOD
        - CAP_AUDIT_WRITE
    volumeMounts:
    - mountPath: /config/peer1
      name: etc-wireguard-peer1-host-0
  volumes:
  - hostPath:
      path: /etc/wireguard/peer1
      type: Directory
    name: etc-wireguard-peer1-host-0
